body,html{
  margin:0;
}

.landing{
  background-image:url("mountain_lake_landscape_trees_79396_3500x2309.jpg");
  background-color: #cccccc;
  background-size:100% 100%;
  background-clip:border-box;
  height:1000px;
}

#logo{
  font-size:300px;
}

.top-left a{
  /* position: absolute; */
  top: 8px;
  left:16px;
  font-size:100px;
  text-decoration:none;
  color:white;
  font-family: 'Righteous',cursive;
  float:left;
  padding-left:100px;
}

.top-left{
  overflow:hidden;
}

.bottom-right{
  position:absolute;
  bottom:8px;
  right:16px;
  background-color:#474e5d;
  color:white;
  font-family: 'Righteous',cursive;
}

.centered{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

img.pfp{
  max-width:25%;
  max-height:25%;
  border-radius:50%;
}
.about-me{
  background-color:#474e5d;
  color:white;
  /* margin-top:-75px; */
  text-align:left
}

.about_me_header{
  font-size:50px;
  font-family: 'Righteous',cursive;
}

.about_me_desc{
  text-align:center;
  font-size:75px;
}
